---
title: <i class="fas fa-clipboard-list down_a_bit"></i>&nbsp;The Full List 
id: list
---
<p>All momisms (<a href="/list.html" class="nolink nohover">{{ site.data.momisms.size }}</a>) and their definitions (where known...)</p>
<p>Click to see Mommentary, definitions, and examples where available (if unavailable, <a href="/contribute.html">contribute</a> one).</p>
<p>Or simulate conversation with our mother by hearing a <button class="randombtn color-triad-2 w3-round-large w3-border w3-ripple" onclick="randomMomism()">random momism</button></p>
<div class="center">
	{% comment %}The code below is the alphabet link at the top{% endcomment %}
{% assign counter = 0 %}{% for each in site.data.momisms %}{% assign nowslice = each.momism | slice: 0 %}{% if nowslice == "[" %}{% assign nowslice = each.momism | slice: 1 %}{% endif %}
   {% unless nowslice == abc %}{% assign abc = each.momism | slice: 0 %}{% if abc == "[" %}{% assign abc = each.momism | slice: 1 %}{% endif %}
{% assign counter = counter | plus: 1 %}
<a class="larger_font darkturquoise" href="#{{ abc }}">{{ abc }}</a>&nbsp; {% if counter == 13 %}<br class="mobile_only">{% assign counter = 0 %}{% endif %}{% endunless %}{% endfor %}</div>
<div>&nbsp;</div>
{% assign counter = 0 %}
<div id="myDropdown" class="dropdown-content">
	{% comment %}This is the filter{% endcomment %}
      <input label="Filter momism list" class="w3-input w3-border w3-round" type="search" autocomplete=off placeholder="Filter by momism..." id="myInput" onkeyup="filterFunction(this)" onsearch="filterFunction(this)">
      <div>
{% for each in site.data.momisms %}{% assign counter = counter | plus: 1 %}{% assign nowslice = each.momism | slice: 0 %}
{% if nowslice == "[" %}{% assign nowslice = each.momism | slice: 1 %}{% endif %}
{% unless nowslice == abc %}{% assign abc = each.momism | slice: 0 %}{% if abc == "[" %}{% assign abc = each.momism | slice: 1 %}{% endif %}
</div>
<div class="sticky_anchor stanchor">
<div class="filterbye">&nbsp;</div>
	<div class="abc"><a name="{{ abc }}" class="nohover textwhite">&nbsp; {{ abc }}</a></div>{% endunless %}
<button id="momism_id{{ each.order }}" onclick="openAccordion('momism{{ counter }}')" class="list_button smiley turquoise wrap fix_anchor">{{ each.momism }}</button>
<div id="momism{{ counter }}" class="w3-hide w3-container">
	<p>{% if each.definition %}{{ each.definition }}{% else %}<em>Definition unknown. <a href="/contribute.html">Contribute</a> one</em>{% endif %}</p>
    {% if each.example %}<p><em>{{ each.example }}</em></p>{% endif %}
    {% if each.mommentary %}<p>Mommentary: {{ each.mommentary }}</p>{% endif %}
    {% if each.links %}{% assign imgs = each.links | split: ", " %}{% for img in imgs %}<div class="w3-half">{{ img }}</div>{% endfor %}{% endif %}
    <p class="w3-left">Momism ID #<a href="/list.html#momism_id{{ each.order }}">{{ each.order }}</a></p>
</div>
{% endfor %}
<script src="/assets/js/filter.js"></script>
