---
title: <i class="fas fa-clipboard-list down_a_bit"></i>&nbsp;The Full List in Chronological Order
og-title: The Full List in Chronological Order
id: chrono_list
---
{% assign modulo = 10 %}
<p>All <a href="/ordered_list.html" class="nolink nohover default-cursor">{{ site.data.mom-csv.size }}</a> momisms in chronological order of identification (<a href=/list>in alphabetical order here</a>)</p>
<p>Click to see Mommentary, definitions (where known...), and some examples. If unavailable, <a href="/contribute.html">contribute one</a>.</p>
<div class=center>
  <span><button class="randombtn color-triad-2 w3-round-large w3-border w3-ripple" onclick="openAll()">Open all</button>&nbsp;
  <button class="randombtn color-triad-2 w3-round-large w3-border w3-ripple" onclick="closeAll()">Close all</button>&nbsp;
<div>&nbsp;</div>
</div>
<div class="center">
	{% comment %}The code below is the numbered link at the top{% endcomment %}
	{% assign ordering = site.data.mom-csv | sort: "order" %}


{% assign counter = 0 %}{% for each in ordering %}
{% assign order_integer = each.order | plus: 0 %}{% assign modulo_slice = order_integer | modulo: modulo %}
   {% if modulo_slice == 0 or order_integer == 1 %}
{% assign counter = counter | plus: 1 %}
<a class="larger_font darkturquoise" href="#{{ order_integer }}">{{ order_integer }}</a>&nbsp; {% if counter == 13 %}<br class="mobile_only">{% assign counter = 0 %}{% endif %}{% endif %}{% endfor %}</div>
<div>&nbsp;</div>
<div id="myDropdown" class="dropdown-content">
	{% comment %}This is the filter{% endcomment %}
      <input label="Filter momism list" class="w3-input w3-border w3-round" type="search" autocomplete=off placeholder="Filter by momism..." id="myInput" onkeyup="filterFunction(this)" onsearch="filterFunction(this)">
<br>
      <div>
{% assign counter = 0 %}{% assign modulo_slice = 0 %}
{% for each in ordering %}{% assign counter = counter | plus: 1 %}
{% assign order_integer = each.order | plus: 0 %}{% assign modulo_slice = order_integer | modulo: modulo %}
{% if modulo_slice == 0 or order_integer == 1 %}
</div>
<div class="sticky_anchor stanchor">
<div class="filterbye">&nbsp;</div>
<div class="abc"><a name="{{ order_integer }}" class="nohover textwhite">&nbsp; {{ order_integer }}</a></div>{% endif %}
<button id="momism_id{{ order_integer }}" onclick="toggleAccordion('{{ order_integer }}')" class="list_button smiley turquoise wrap fix_anchor"><i id="caret{{ order_integer }}" class="fas fa-caret-right caret"></i> &nbsp;&nbsp;{{ order_integer }}. {{ each.momism }}</button>
<div id="momism{{ order_integer }}" class="w3-hide w3-container list_div">
	<p>{% if each.definition %}{{ each.definition | smartify }}{% assign defslice = each.definition | rstrip | slice: -1 %}{% unless defslice == "." or defslice == "?" or defslice == "!" or defslice == ";" or defslice == '"' %}.{% endunless %}{% else %}<em>Definition unknown. <a href="/contribute.html">Contribute</a> one</em>{% endif %}</p>
    {% if each.example %}<p><em>{{ each.example | smartify }}{% assign exampleslice = each.example | rstrip | slice: -1 %}{% unless exampleslice == "." or exampleslice == "?" or exampleslice == "!" or exampleslice == ";"  or exampleslice == '"' %}.{% endunless %}</em></p>{% endif %}
    {% if each.mommentary %}<p>Mommentary: {{ each.mommentary | smartify }}{% unless mommentaryslice == "." or mommentaryslice == "?" or mommentaryslice == "!" or mommentaryslice == ";" or mommentaryslice == '"' %}.{% endunless %}</p>{% endif %}
    {% if each.links and each.links != "" %}{% assign imgs = each.links | split: ", " %}<div class="gallery"><ul class="gallery__list">{% for img in imgs %}<li><figure>{{ img }}</figure></li>{% endfor %}</ul></div>{% endif %}
    <p><a id="id{{ order_integer }}" href="/dictionary/{{ each.order }}"></a><span> (<a class=tooltip onclick="copyButton('id{{ order_integer }}')"><u>copy link</u><span class="tooltiptext" id="myTooltip_id{{ order_integer }}">Copy to clipboard</span></a>)</span>, momism number #{{ order_integer }} identified {{ each.date | date: "%B %-d, %Y" }}</p>
</div>
{% endfor %}
</div>
</div>
<script src="/assets/js/filter.js"></script>
<script src="/assets/js/copy.js"></script>
