.jekyll-cache
_site/
_site
Gemfile
Gemfile.lock
refresh-dictionary.sh
backup
backup/
notes
notes/
.git
.git/
.sass-cache
.jekyll-metadata
vendor
vendor/
.github
.github/
notes
notes/
.bundle
.bundle/
