---
layout: default
title: <i class="fas fa-list-ul down_a_bit"></i>&nbsp;The Full List 
id: list
---
<h3 class=center>All momisms ({{ site.data.momisms.size }}) and their definitions (where known...)</h3>
<p>Click to see Mommentary, definitions, and examples where available (if unavailable, <a href="/contribute.html">contribute</a> one).</p>
<p>Or hear a <button class="randombtn color-triad-2 w3-round-large w3-border w3-ripple" onclick="randomMomism()">random momism</button> (this approximates the experience of conversation with our mother).</p>
<div class=center>
{% assign nowslice = "x" %}
{% assign abc = "z" %}
{% for each in site.data.momisms %}
{% assign nowslice = each.momism | slice: 0 %}{% if nowslice == "[" %}{% assign nowslice = each.momism | slice: 1 %}{% endif %}
{% unless nowslice == abc %}{% assign abc = each.momism | slice: 0 %}{% if abc == "[" %}{% assign abc = each.momism | slice: 1 %}{% endif %}
<a class="larger_font" href="#{{ abc }}">{{ abc }}</a>{% if abc == "G" or abc == "U" or abc == "N" %}<br>{% endif %}{% unless abc == "Z" or abc == "N" or abc == "U" or abc == "G" %}<span>&nbsp; | &nbsp;</span>{% endunless %}{% endunless %}
{% endfor %}</div>
<div>&nbsp;</div>
{% assign counter = 0 %}
{% assign abc = "m" %}
{% assign nowslice = "n" %}
<div id="myDropdown" class="dropdown-content">
      <input class="w3-input w3-border w3-round" type="text" placeholder="Filter by momism..." id="myInput" onkeyup="filterFunction()">
      <div>{% for each in site.data.momisms %}
{% assign counter = counter | plus: 1 %}
{% assign nowslice = each.momism | slice: 0 %}{% if nowslice == "[" %}{% assign nowslice = each.momism | slice: 1 %}{% endif %}
{% unless nowslice == abc %}{% assign abc = each.momism | slice: 0 %}{% if abc == "[" %}{% assign abc = each.momism | slice: 1 %}{% endif %}
<br>
</div>
<div class="sticky_anchor stanchor">
	<div class="abc"><a name="{{ abc }}">&nbsp; {{ abc }}</a></div>{% endunless %}
<button id="momism_id{{ each.order }}" onclick="openAccordion('momism{{ counter }}')" class="w3-button w3-block smiley turquoise w3-left-align wrap fix_anchor">{{ each.momism }}</button>
<div id="momism{{ counter }}" class="w3-hide w3-container">
	<p>{% if each.definition %}{{ each.definition }}{% else %}<em>Definition unknown. <a href="/contribute.html">Contribute</a> one</em>{% endif %}</p>
    {% if each.example %}<p><em>{{ each.example }}</em></p>{% endif %}
    {% if each.mommentary %}<p>Mommentary: {{ each.mommentary }}</p>{% endif %}
    <p>Momism ID #{{ each.order }}</p>
</div>
{% endfor %}
<script src="/assets/js/filter.js"></script>
