// @font-face {
//   font-family: "IM Fell English";
//   src: url(/assets/google_fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
// }
// 
// @font-face {
//   font-family: "IM Fell English";
//   src: url(/assets/google_fonts/IM_Fell_English/IMFellEnglish-Regular.ttf);
//   font-style: italic;
// }
// 
// @font-face {
//   font-family: Oswald;
//   src: url(/assets/google_fonts/Oswald/Oswald-VariableFont_wght.ttf);
// 
// }

// @font-face {
//   font-family: "Playfair Display";
//   src: url(/assets/google_fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf);
//   font-display: swap;
// }


@font-face {
  font-family: "Andika";
  src: url(/assets/G-webfonts/Andika-Regular.ttf);
  font-display: swap;
}

@font-face {
  font-family: "Amatic SC";
  src: url(/assets/G-webfonts/AmaticSC-Regular.ttf);
  font-display: swap;
}
