@import "font";
$body-font-size: 17px;
$body-color: white;
$body-color-text: #242424;
$mob-pixels: 800px; 
$color-1:  #f5782a;
$color-1-light: #ffa959;
$color-1-dark: #bc4900;
$color-complement: #2a42f5;
$color-triad-1: #42f52a;
$color-triad-2: #2af5dd;
$color-triad-2-dark: #0a8c7c;
$color-pink: #e91e63;
$color-analogy: #a7f52a;
$color-active: $color-1-dark;
$smiley-color: #ffffa2;
$header-color-text: $body-color-text;
$header-font-size: 140%;
$nav-color-text: $body-color-text;
$nav-font-size: 1em;
$text-width: 50em;
$font-serif: 'Amatic SC', Georgia, serif;
$font-sans: Andika, Helvetica, Arial, sans-serif;
$font-mono: "Courier New", "Open Sans", Courier, monospace; 
$footer-bottom: $color-1-dark;
$footer-bottom-text: white;// $body-color-text;
$alert-color: #bf5608;
$alert-text-color: white;
$alert-link-color: white;
$scrollbar-back: white;
$scrollbar-thumb: $color-triad-2;
