---
---
@import "colors.scss";

html,body {
	height: 100%;
	max-width: 100%;
	scroll-behavior: smooth;
}

body {
	font-size: $body-font-size;
	color: $body-color-text;
	background-color: $body-color;
	font-family: $font-sans;
}

header {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 100%;
}

h1,h2,h3,h4,h5,h6 {
	font-family: $font-serif;
}

h2 {font-size:200%}
h3 {font-size:160%}
.larger {
	font-size: 120%;
}

.topline {
	display: flex;
	justify-content: space-between;
//	background: $color-1-light;
	align-items: center;
	padding: 5px 16px;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px
}

img {
	max-width: $text-width;
}

/* scroll up button */
#topbtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 599;
  font-size: 22px;
  border: none;
  outline: none;
  background-color: $color-triad-2;
  color: white;
  cursor: pointer;
  padding: 10px 16px;
  transition: background-color .3s;
}

#topbtn:hover {
	background-color: $color-pink//$color-triad-2-dark;
}

// Toggle switch
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  padding: 15px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $color-1-light;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.menu {
	cursor: pointer;
	transition: color .5s;
	color: $body-color-text;
}

.pink-text {
	color: $color-pink;
}

.menu:hover {
	color: #e91e63;
}

.down_a_bit {
	vertical-align: sub;
	position: relative;
	bottom: 7px;
}

.down_a_bit_more {
	vertical-align: sub;
	position: relative;
	bottom: 2px;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-left .5s;
  height: 100%;
}

.list_button {
	width: 100%;
	padding: .3em 2em ;
	border: none;
	text-align: left;
}

.abc {
  position: sticky;
  top: 0;
  width: 100%;
  background: $color-1;
  //font-family: $font-serif;
  font-weight: bold;
  font-size: 120%;
}

.fix_anchor {
        scroll-margin: 2.01rem 0 0 0;
        scroll-padding: 2.01rem 0 0 0;
        scroll-snap-margin: 2.01rem 0 0 0;
        scroll-snap-padding: 2.01rem 0 0 0;
}

.fix_anchor:before {
	content:"";
	background-color: $smiley-color;
	color: black;
	position:absolute;
	display:block;
	height:2rem;
	margin:-4rem;
//	height:590px;
//	margin:-590px 0 0 0;
}

.fix_anchor:target {
  border: .15em solid magenta;
}

// .emptydiv {position:relative}
// .emptydiv ~ .fix_anchor {
// 	position: absolute;
// 	top: -60px;
// }

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
//  white-space: nowrap;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -75px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.gallery > .gallery__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(425px, 1fr));
  grid-gap: 1rem;
  grid-auto-flow: dense;
  padding: 0;
}
/* This will create 2x images every 4 elements */

.gallery > .gallery__list > li {
	list-style-type: none;
}

.gallery > .gallery__list > li > figure {
  height: 100%;
}

.gallery > .gallery__list > li:nth-child(3n) {
  grid-column: span 2; /* Spans two columns */
  grid-row: span 2; /* Spans two rows */
}
.gallery > .gallery__list > li > figure > img {
  width: 100%;
//   height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.img_container {
	display: flex;
	flex-wrap: wrap;
}

// .img_small {
// 	width: 100%;
// 	max-width: 400px;
// //	width: 55%;
// 	margin: 0 auto;
// //    display: block;
//     padding: 15px;
//     text-align: center;
// }

.larger_font {
	font-size: 120%;
	font-family: $font-mono;
	font-weight: bold;
}

.active {
    background: $smiley-color;
}

.title {
	text-align: center;
	text-decoration: none;
}

.banner .title {
	font-size: $header-font-size;
	color: $header-color-text;
	font-family: $font-sans;
	font-weight: bold;
}

.nolink,.nolink:hover,.nolink:visited, .nolink:link {
    text-decoration: none;
    cursor: pointer;
   }

.nohover:hover {
	color: inherit;
}

main { 
	flex: 1 0 auto;
	min-height: auto;
	margin: 0;
	padding: 0 40px;
	text-align: left;
	max-width: $text-width;
}
a{cursor:pointer}
a:hover {
   color: $color-1-dark;
   }

.center {
	text-align: center;
	align-self: center;
}

footer {
	flex-shrink: 0;
	width: 100%;
	text-align: center;
	background-color: $color-1;
}

footer > a {
	padding: 10px 14px;
	text-decoration: underline;
}

.footer-small {
	font-size: 80%;
}

.footer-bottom {
	background-color: $footer-bottom;
	color: $footer-bottom-text;
}

footer > a:hover {
   color: $smiley-color;
   }

.footer-bottom > a:hover {
   color: $smiley-color;
   }

.mobile_only {
	display: none;
}

// Wide screen
@media all and (min-width: $mob-pixels) {
   .main-nav {
     height: 100%;
     width: 0;
     position: fixed;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: $color-triad-2;
     overflow-x: hidden;
     transition: 0.5s;
     padding-top: 86px;
   }
   
   .main-nav > a:not(:first-child) {
     padding:  14px 20px;
     font-size: $nav-font-size;
     overflow-x: hidden;
     color: $nav-color-text;
     display: block;
     white-space: nowrap;
     border-bottom: 3px solid $color-triad-2;
   }
   
   .main-nav > a:not(:first-child):hover {
   	background: $smiley-color;
   }
   
   .main-nav .closebtn {
     visibility: hidden;
     position: absolute;
     top: 0;
     right: 25px;
     font-size: 36px;
     margin-left: 70px;
     padding-top: 15px;
     transition: .3s;
   }

   .main-nav .closebtn:hover {
	   color: $smiley-color;
   }
}

// Wide screen end

//	.extra_div {display: none};
//
//@media all and (min-width: 850px) {
//	.menu {position: fixed};
//	.extra_div {display: block};
//}

// Narrow screen
@media all and (max-width: $mob-pixels) {
  
    .main-nav {
      flex-direction: column;
      padding: 0;
    display: flex;
    flex: 0 0 auto;
    list-style-type: none;
    justify-content: flex-start;
  }
  
  .main-nav > a {
      padding:  14px 20px;
      font-size: $nav-font-size;
      color: $nav-color-text;
      background: $color-triad-2;
      flex-basis: 100%;
      text-align: left;
      font-size: 1em;
      display: none;
    }
  
  .main-nav > a:hover {
      background: $smiley-color;
    }
  
  .active {
      background: $smiley-color !important;
      }
  
  footer > a > .mobile_only {
  	display: block;
  }
  
  .main-nav > a:not(:first-child):hover {
          background: $smiley-color;
  }
  
  #closeBtn {
          display: none;
  }
  
  .main-nav > .mobile_only {
  	  display: none;
  }
 
  .larger_font ~ .mobile_only {
	 display: block
 } 
  
   main {
  	  display: flex;
  	  justify-content: center;
  	  flex-direction: column;
  	  padding: 0 15px;
  	  max-width: 100%;
    }
    .img_container {
	flex-direction: column;
    }
}
// Narrow screen end

// Colors

.color-1 {
	background-color: $color-1;
}

.color-1-text {
	color: $color-1;
}

.color-1-dark-text {
	color: $color-1-dark;
}

.color-1-light {
	background-color: $color-1-light;
}


.color-complement-text {
	color: $color-complement;
}

.color-complement {
	background-color: $color-complement;
}

.color-triad-2 {
	background-color: $color-triad-2;
	//color: $color-triad-1;
}

.color-triad-2-text {
	color: $color-triad-2;
}

.gradient {
	background: linear-gradient(to right, $color-1, $color-1-light);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	transition: background .5s;
}

.smiley {
	background: $smiley-color;
}

.turquoise:hover {
        background: $color-triad-2 !important;
}

.wrap {
	white-space: normal;
}

.randombtn:hover {
        color: white;
	cursor: pointer;
}

.textwhite {
	color: white;
}

.textblack {
	color: black;
}

// Fonts

@font-face {
  font-family: "Open Sans";
  src: url("/assets/open_sans/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("/assets/open_sans/OpenSans-Bold.ttf");
  font-weight: bold;
}

// MOD formatting

#randomMom {
	text-align: center;
	font-weight: bold;
	font-family: $font-serif;
	align-self: center;
        font-size: 160%;
	padding-bottom: 50px;
}


#defLabel,#randomDefinition {
	font-size: 120%;
}
#mommLabel,#randomMommentary {
	font-weight: bold;
}

#exLabel,#randomExample {
	font-style: italic;
}

#defLabel,#randomDefinition,#mommLabel,#randomMommentary,#exLabel,#randomExample {
	max-width: 400px;
	text-align: center;
	color: $color-triad-2-dark;
	padding-bottom: 10px;
	align-self: center;
}

#hoverparent {
	display: flex;
	flex-direction: column;
}

#hoverparent:hover #defLabel,#hoverparent:hover #randomDefinition,#hoverparent:hover #mommLabel,#hoverparent:hover #randomMommentary,#hoverparent:hover #exLabel,#hoverparent:hover #randomExample {
	color: $smiley-color;
}


#hoverparent #defLabel,#hoverparent #randomDefinition,#hoverparent #mommLabel,#hoverparent #randomMommentary,#hoverparent #exLabel,#hoverparent #randomExample,.darkturquoise {
	color: $color-triad-2-dark;
}

