---
---
@import "colors.scss";

html,body {
	height: 100%;
	max-width: 100%;
}

body {
	font-size: $body-font-size;
	color: $body-color-text;
	background-color: $body-color;
	font-family: $font-sans;
}

header {
	display: flex;
	flex-direction: column;
	flex: 0 0 auto;
	width: 100%;
}

.topline {
	display: flex;
	justify-content: space-between;
//	background: $color-1-light;
	align-items: center;
	padding: 5px 16px;
}

.banner {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px
}


@media all and (min-width: $mob-pixels) {
.main-nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: $color-triad-2;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 86px;
}

.main-nav > a:not(:first-child) {
  padding:  14px 20px;
  font-size: $nav-font-size;
  overflow-x: hidden;
  color: $nav-color-text;
  display: block;
  white-space: nowrap;
  border-bottom: 3px solid $color-triad-2;
}

.main-nav > a:not(:first-child):hover {
	background: $smiley-color;
}

.main-nav .closebtn {
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 70px;
  padding-top: 10px;
}
}
.menu {
	cursor: pointer;
}

#content {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: margin-left .5s;
  height: 100%;
}


.active {
    background: $smiley-color;
}

.title {
	text-align: center;
	text-decoration: none;
}

.banner .title {
	font-size: $header-font-size;
	color: $header-color-text;
	font-family: $font-sans;
	font-weight: bold;
}

.nolink,.nolink:hover,.nolink:visited, .nolink:link {
    text-decoration: none;
   }

/*body hr {
	margin: 5px;
	color: $nav-color-text;
} */

main { 
	flex: 1 0 auto;
	min-height: auto;
	margin: 0;
	padding: 0 40px;
	text-align: left;
	max-width: $text-width;
}

.center {
	text-align: center;
	align-self: center;
}

footer {
	flex-shrink: 0;
	width: 100%;
	text-align: center;
	background-color: $color-1;
}

footer > a {
	padding: 10px 14px;
	text-decoration: underline;
}

.footer-bottom {
	background-color: $footer-bottom;
	color: $footer-bottom-text;
}

.mobile_only {
	display: none;
}

@media all and (max-width: $mob-pixels) {

  .main-nav {
    flex-direction: column;
    padding: 0;
  display: flex;
  flex: 0 0 auto;
  list-style-type: none;
  justify-content: flex-start;
}

.main-nav > a {
    padding:  14px 20px;
    font-size: $nav-font-size;
    color: $nav-color-text;
    background: $color-triad-2;
    flex-basis: 100%;
    text-align: left;
    font-size: 1em;
    display: none;
  }

.main-nav > a:hover {
    background: $smiley-color;
  }

.active {
    background: $smiley-color !important;
    }

footer > a > .mobile_only {
	display: block;
}

.main-nav > a:not(:first-child):hover {
        background: $smiley-color;
}

#closeBtn {
        display: none;
}

.main-nav > .mobile_only {
	  display: none;
}

  main {
	  display: flex;
	  justify-content: center;
	  flex-direction: column;
	  padding: 0 15px;
	  max-width: 100%;
  }
}

// Colors

.color-1 {
	background-color: $color-1;
}

.color-1-text {
	color: $color-1;
}

.color-1-dark-text {
	color: $color-1-dark;
}

.color-1-light {
	background-color: $color-1-light;
}


.color-complement-text {
	color: $color-complement;
}

.color-complement {
	background-color: $color-complement;
}

.color-triad-2 {
	background-color: $color-triad-2;
	//color: $color-triad-1;
}

.color-triad-2-text {
	color: $color-triad-2;
}

.gradient {
	background: linear-gradient(to right, $color-1 0%, $color-1-light 100%)
}

.gradient:hover {
	background: $color-1-light !important;
}

.smiley {
	background: $smiley-color;
}

.turquoise:hover {
        background: $color-triad-2 !important;
}

.textblack {
	color: black;
}

// MOD formatting

#randomMom {
	text-align: center;
	font-weight: bold;
	font-family: $font-serif;
	align-self: center;
        font-size: 160%;
}


#defLabel,#randomDefinition {
	font-size: 110%;
}
#mommLabel,#randomMommentary {
	font-weight: bold;
}

#exLabel,#randomExample {
	font-style: italic;
}

#defLabel,#randomDefinition,#mommLabel,#randomMommentary,#exLabel,#randomExample {
	max-width: 400px;
	text-align: center;
	color: $color-triad-2-dark;
}
