<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.title }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#ffa959">
  <meta property="og:title" content='{% if page.og-title %}{{ page.og-title }}{% else %}{{ page.title }}{% endif %}'>
  <meta property="og:site_name" content='{{ site.title }}'>
  <meta property="og:url" content="{% if page.type == "dictionary" %}{{ site.url }}/dictionary/{{ page.order }}/{% else %}{{ site.url }}{{ page.url }}{% endif %}">
  <meta property="og:type" content="website">
  <meta property="og:locale" content="en_US">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="og:image" content="{{ site.url }}/assets/images/confused-smiley.png" />
  <meta property="fb:app_id" content="299421778303061">
  {% comment %}<meta property="og:description" content='{% if page.og-description %}{{ page.og-description }}{% else %}{{ page.title }}{% endif %}'>{% endcomment %}
  <html lang="en">
  <link rel="icon" type="image/jpg" href="/favicon.ico">
 <link rel="preload" href="/assets/G-webfonts/AmaticSC-Regular.ttf" as="font" type="font/ttf" crossorigin>
 <link rel="preload" href="/assets/G-webfonts/Andika-Regular.ttf" as="font" type="font/ttf" crossorigin>
 <!---  <link href='https://fonts.googleapis.com/css?family=Amatic SC|Andika' rel='stylesheet'> --->
     <link rel="stylesheet" href="/assets/css/w3.css">
     <link rel="stylesheet" href="/assets/css/fontawesome.css">
     <link rel="stylesheet" href="/assets/css/solid.css">
     <link rel="stylesheet" href="/assets/css/brands.css">
     <link rel="stylesheet" href="/assets/css/style.css">
     <link rel="manifest" href="/manifest.webmanifest">
     <link rel="apple-touch-icon" href="/favicon.ico">
     <title>{{ site.title }}</title>

     {% comment %}  if page.tipue_search_active or layout.tipue_search_active {% endcomment %}
     {% if page.id == "search" %}
  <!---<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- <link rel="stylesheet" href="{{ "/tipuesearch/css/normalize.css" | relative_url }}"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <script src="{{ "/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/tipuesearch/css/tipuesearch.css" | relative_url }}">
    <script src="{{ "/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
    <script src="{{ "/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
{% endif %}
  </head>

<body id=toppoint>
	<!-- Special div for intersectionObserver for the back to top button -->
	<!-- Pressing the topBtn brings back to the top of the screen -->
	<div class=intersectionObserver id="intersectionObserver1">&nbsp; </div>
	<div id="content">
        <header>
	   <div class=topline>
		   <!-- <div class="extra_div"></div> -->
		   <div class="menu" onclick="openNav()"><i class="fas fa-bars fa-lg gradient-menu"></i></div>
		   <a label="Home link" href="/{% if page.id == "index" %}list{% endif %}" class="nolink banner {% unless page.id == "index" %}w3-animate-zoom{% endunless %}"><img src="{{ site.icon }}" alt="Confused smiley" height="55px" hspace="10px"></a>
		<div></div>
	   </div>
                <a href="/" class="nolink banner color-1"><div class="title nolink">{{ site.title }}</div></a>
	<nav>
          <div class="main-nav" id="myNav">	
            <a href="javascript:void(0)" id="closeBtn" class="closebtn nolink" onclick="closeNav()">&times;</a>
	     {% for each in site.data.navigation.docs %}
	     <a href="{{ each.url }}" {% if each.target %}target="_blank"{% endif %} class="navLinks nolink {% if page.url == each.url %} active{% endif %}">{{ each.icon }} {{ each.title }}</a>
             {% endfor %}
	  </div>
	</nav>
        </header>
	<main {% if page.id == "contribute" %}style="max-width: 100%; width: 100%;" {% endif %}>
		{% unless page.id == "index" or page.type == "dictionary" %}<h2 class="title">{{ page.title }}</h2>{% endunless %}
		{% if page.description or page-description %}<h2 class="title">{{ page.description }}{{ page-description }}</h2>{% endif %}

<!-- Return to top button 
       <button title="Return to top of page" onclick="topFunction()" id="topbtn" class="w3-card-4 w3-circle" title="Go to top"><i class="fas fa-arrow-circle-up"></i></button>
	class="w3-card-4 w3-circle"
-->
    <a 
        href="#toppoint"
        aria-label="Return to top"
        id="topbtn" 
        class="topbtn" 
        title="Return to top"
        >
        
        {% include angle-circle-arrow-up.svg %}
  
      </a>


          {{ content | emojify }}
	<br><br>
        </main>
	<footer>
		<br>
		{% for each in site.data.navigation.docs %}
                <a href="{{ each.url }}" {% if each.target %}target="_blank"{% endif %} class="{% if page.url == each.url %}{% endif %}">{{ each.title }}</a>
             {% endfor %}

		<br><br>
	     <div class="footer-small">Made with love by:</div>
		<div class="footer-bottom"><a class=nolink href="https://www.summerhays.net/">SummerSites</a></div>
	</footer>
  </div>
  </body>
</html>
<!-- Call service worker 
	<script>
		if ('serviceWorker' in navigator) {
  window.addEventListener('load', function() {
    navigator.serviceWorker.register('/sw.js').then(function(registration) {
      // Registration was successful
      console.log('ServiceWorker registration successful with scope: ', registration.scope);
    }, function(err) {
      // registration failed :(
      console.log('ServiceWorker registration failed: ', err);
    });
  });
<script src="/assets/js/scrollTop.js"></script>
}
	</script> -->
<script src="/assets/js/openNav.js"></script>
<!-- Clicky tracking -->
<script>var clicky_site_ids = clicky_site_ids || []; clicky_site_ids.push(101253902);</script>
<script async src="//static.getclicky.com/js"></script>
<noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/101253902ns.gif" /></p></noscript>
