<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.title }}">
  <meta name="keywords" content="{{ site.keywords }}">
  <meta name="author" content="{{ site.title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <html lang="en">
  <link rel="icon" type="image/jpg" href="/favicon.ico">
     <link rel="stylesheet" href="/assets/css/w3.css">
     <link rel="stylesheet" href="/assets/css/all.css">
     <link rel="stylesheet" href="/assets/css/style.css">
     <title>{{ site.title }}</title>

  {% if page.tipue_search_active or layout.tipue_search_active %}
  <!---<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400"> -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="{{ "/tipuesearch/css/normalize.css" | relative_url }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="{{ "/tipuesearch/tipuesearch_content.js" | relative_url }}"></script>
    <link rel="stylesheet" href="{{ "/tipuesearch/css/tipuesearch.css" | relative_url }}">
    <script src="{{ "/tipuesearch/tipuesearch_set.js" | relative_url }}"></script>
    <script src="{{ "/tipuesearch/tipuesearch.min.js" | relative_url }}"></script>
{% endif %}
  </head>

<body>
	<div id="content">
        <header>
	   <div class=topline>
		   <div class="menu" onclick="openNav()"><i class="fas fa-bars fa-lg"></i></div>
		<a href="/" class="nolink banner"><img src="{{ site.icon }}" height="55px" hspace="10px"></a>
		<div></div>
	   </div>
                <a href="/" class="nolink banner color-1"><div class="title nolink">{{ site.title }}</div></a>
	<nav>
          <div class="main-nav" id="myNav">	
            <a href="javascript:void(0)" id="closeBtn" class="closebtn nolink" onclick="closeNav()">&times;</a>
	     {% for each in site.data.navigation.docs %}
	     <a href="{{ each.url }}" {% if each.target %}target="_blank"{% endif %} class="nolink {% if page.url == each.url %} active{% endif %}">{{ each.icon }} {{ each.title }}</a>
             {% endfor %}
	  </div>
	</nav>
        </header>
	<main {% if page.id == "contribute" %}style="max-width: 100%; width: 100%;" {% endif %}>
		{% unless page.id == "index" %}<h2 class="title">{{ page.title }}</h2>{% endunless %}
		{% if page.description or page-description %}<h2 class="title">{{ page.description }}{{ page-description }}</h2>{% endif %}
          {{ content }}
	<br><br>
        </main>
	<footer>
		<br>
		<h2>Momism of the Day</h2>
		<br>
		{% for each in site.data.navigation.docs %}
                <a href="{{ each.url }}" {% if each.target %}target="_blank"{% endif %} class="{% if page.url == each.url %}{% endif %}">{{ each.title }}</a>
             {% endfor %}

		<br><br>
	     <div>Made with love by</div>
		<div class="footer-bottom"><a class=nolink href="https://summerhays.net">SummerSites</a></div>
	</footer>
  </div>
  </body>
</html>


<script src="/assets/js/openNav.js"></script>
