---
layout: default
type: dictionary
---
<head><meta property="og:description" content={% if page.definition %}"{{ page.definition | smartify }}"{% else %}"Definition unknown"{% endif %}></head>
{% assign momism_id = page.order | plus: 0 %}
{% assign prev_id = page.order | minus: 1 | downcase %}
{% case prev_id.size %}
  {% when 2 %}{% assign prev_id = prev_id | downcase | prepend: "0" %}
  {% when 1 %}{% assign prev_id = prev_id | downcase | prepend: "00" %}
{% endcase %}
{% assign next_id = page.order | plus: 1 | downcase %}
{% case next_id.size %}
  {% when 2 %}{% assign next_id = next_id | downcase | prepend: "0" %}
  {% when 1 %}{% assign next_id = next_id | downcase | prepend: "00" %}
{% endcase %}
{% assign defslice = page.definition | rstrip | slice: -1 %}
{% assign exampleslice = page.example | rstrip | slice: -1 %}
{% assign mommentaryslice = page.mommentary | rstrip | slice: -1 %}
<p class=larger id="IDLabel">#{{ momism_id }}</p>

<a href="/list" class="nolink momism_card w3-panel w3-card-2 smiley w3-hover-pink" style="padding: 6px 40px" id="hoverparent">
	<i class="fas fa-quote-right color-triad-2-text w3-xxlarge"></i>
 <p class="w3-serif w3-xxlarge" id="randomMom">{{ page.momism | smartify }}</p>
 {% if page.definition %}<div id="defLabel" class="color-triad-2-text">{{ page.definition | smartify }}{% unless defslice == "." or defslice == "?" or defslice == "!" or defslice == ";" or defslice == '"' %}.{% endunless %}</div>{% else %}<div id="defLabel" class="color-triad-2-text">Definition unknown.</div>{% endif %}
 {% if page.example %}<div id="exLabel">{{ page.example | smartify }}{% unless exampleslice == "." or exampleslice == "?" or exampleslice == "!" or exampleslice == ";"  or exampleslice == '"' %}.{% endunless %}</div>{% endif %}
 {% if page.mommentary %}<div id="mommLabel">Mommentary: {{ page.mommentary | smartify }}{% unless mommentaryslice == "." or mommentaryslice == "?" or mommentaryslice == "!" or mommentaryslice == ";" or mommentaryslice == '"' %}.{% endunless %}</div>{% endif %}
 <p>&nbsp;</p>
</a>
<br>
<br>

<p class=center>Identified {{ page.date | date: "%B %-d, %Y" }}.</p>

<p class=center>{% unless page.order == "001" %}<a class="w3-button w3-hover-pink color-1" href="../{{ prev_id }}" class=nolink><i class="fas fa-chevron-left"></i> Previous momism</a>{% unless momism_id == site.data.mom-csv.size %} | {% endunless %}{% endunless %}{% unless momism_id == site.data.mom-csv.size %}<a href="../{{ next_id }}" class="w3-button w3-hover-pink color-1">Next momism <i class="fas fa-chevron-right"></i></a>{% endunless %}</p>
