---
layout: default
type: dictionary
---
<p class=larger id="IDLabel">#{{ page.order }}</p>

{% comment %}<a href="/" class="nolink">{% endcomment %}
<div class="momism_card w3-panel w3-card-2 smiley w3-hover-pink w3-animate-zoom" style="padding: 6px 40px" id="hoverparent">
	<i class="fas fa-quote-right color-triad-2-text w3-xxlarge"></i>
 <p class="w3-serif w3-xxlarge" id="randomMom">{{ page.momism }}</p>
 {% if page.definition %}<div id="defLabel" class="color-triad-2-text">{{ page.definition }}</div>{% else %}<div id="defLabel" class="color-triad-2-text">Definition unknown.</div>{% endif %}
 {% if page.example %}<div id="exLabel">{{ page.example }}</div>{% endif %}
 {% if page.mommentary %}<div id="mommLabel">Mommentary: {{ page.mommentary }}</div>{% endif %}
 <p>&nbsp;</p>
</div>

<br>
<br>

<p class=center>Identified on {{ page.date | date: "%B %d %Y" }}.</p>
